{% extends "layout.html" %}
{% block titulo %} Vista about {% endblock %}

{% block contenido %}
<h3 class="columnas2">Informacion Estudiantil</h3>
<section class="padre">
   <p class="columnas">
      Alumna: Flor Rocío Silva Mejía.
      No.Ctrl: 17460176.
      Ingenieria en sistemas computacionales.
      Docente: Patricia Elizabeth Figueroa Millan.
      Materia: Servicios en la Nube.
   </p>
   <h3 class="columnas2">Informacion de la practica</h3>
   <p class="columnas">
      Practica : Aplicacion de Notas <br>
      En este practica se realizo una aplicacion de notas , en el cual se puede realizar los siguientes cosas:<br>
      ->Crear una nota.<br>
      ->Editar la nota.<br>
      ->Mostarar la nota.<br>
      ->Eliminar una nota.<br>   
   </p>
</section>
{% endblock %} 

